* {
    margin: 0;
    border: none;
    font-family: 'Ubuntu';
    /* user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

html ::-webkit-scrollbar {
    width: 9px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #eddeff;
}

html ::-webkit-scrollbar-track {
    background: #cfacfa;
}