* {
    margin: 0;
    border: none;
    font-family: 'Ubuntu';
}

html ::-webkit-scrollbar {
    width: 9px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #eddeff;
}

html ::-webkit-scrollbar-track {
    background: #cfacfa;
}